 <!-- Page Heading -->
 <h1 class="h3 mb-2 text-gray-800">&nbsp;ข้อมูลแจ้งเตือน&nbsp;<a href="#/alarm" class="btn btn-success btn-circle btn-sm">
  <i class="fas fa-arrow-left"></i></a></h1>
 <p class="mb-4"></p>

 <!-- DataTales Example -->
 <div class="card shadow mb-4">
   <div class="card-body" ng-init=''>
    <div class="row">
      <div class="col-lg-7">
        <div class="p-5">
          <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">เพิ่มข้อมูลแจ้งเตือน</h1>
          </div>
          <form class="user">
            <div class="form-group">
                <label for="deviceID" class="text-xs font-weight-bold text-primary text-uppercase mb-1">deviceID</label>
                <input type="text" class="form-control" id="deviceID" name="deviceID" ng-model="deviceID" >
            </div>
            <div class="form-group">
                <label for="alarmLL" class="text-xs font-weight-bold text-primary text-uppercase mb-1">alarmLL</label>
                <input type="text" class="form-control" id="alarmLL" name="alarmLL" ng-model="alarmLL" >
            </div>
            <div class="form-group">
              <label for="alarmL" class="text-xs font-weight-bold text-primary text-uppercase mb-1">alarmL</label>
              <input type="text" class="form-control" id="alarmL" name="alarmL" ng-model="alarmL" >
            </div>
            <div class="form-group">
              <label for="alarmH" class="text-xs font-weight-bold text-primary text-uppercase mb-1">alarmH</label>
              <input type="text" class="form-control" id="alarmH" name="alarmH" ng-model="alarmH" >
            </div>
            <div class="form-group">
              <label for="alarmHH" class="text-xs font-weight-bold text-primary text-uppercase mb-1">alarmHH</label>
              <input type="text" class="form-control" id="alarmHH" name="alarmHH" ng-model="alarmHH" >
            </div>
            <br/>
            <input type="submit" name="insert" class="btn btn-primary btn-block" ng-click="insert()" value="บันทึก">
          </form>
        </div>
      </div>
    </div>
   </div>
 </div>