 <!-- Page Heading -->
 <h1 class="h3 mb-2 text-gray-800">&nbsp;ตั้งค่าอุปกรณ์ส่งสัญญาณ&nbsp;<a href="#/level" class="btn btn-success btn-circle btn-sm">
  <i class="fas fa-arrow-left"></i></a></h1>
 <p class="mb-4"></p>

 <!-- DataTales Example -->
 <div class="card shadow mb-4">
   <div class="card-body" ng-init=''>
    <div class="row">
      <div class="col-lg-7">
        <div class="p-5">
          <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">เพิ่มการตั้งค่าอุปกรณ์ส่งสัญญาณ</h1>
          </div>
          <form class="user">
            <div class="form-group">
                <label for="deviceID" class="text-xs font-weight-bold text-primary text-uppercase mb-1">deviceID</label>
                <input type="text" class="form-control" id="deviceID" name="deviceID" ng-model="deviceID" >
            </div>
            <div class="form-group">
                <label for="levelUp" class="text-xs font-weight-bold text-primary text-uppercase mb-1">มิลลิแอมป์(mAh) MAX</label>
                <input type="text" class="form-control" id="levelUp" name="levelUp" ng-model="levelUp" >
            </div>
            <div class="form-group">
              <label for="levelDown" class="text-xs font-weight-bold text-primary text-uppercase mb-1">มิลลิแอมป์(mAh) MIN</label>
              <input type="text" class="form-control" id="levelDown" name="levelDown" ng-model="levelDown" >
            </div>
            <div class="form-group">
              <label for="zeroG" class="text-xs font-weight-bold text-primary text-uppercase mb-1">จุดติดตั้งหัววัด (ม.รทก)</label>
              <input type="text" class="form-control" id="zeroG" name="zeroG" ng-model="zeroG" >
            </div>
              <!-- alert -->
          <div class="text-center" ng-class="{'text-success':!success}" ng-show="show">
            <img src="vendor/img/loader.gif" />
            <small >{{message}}</small>
          </div>
          <!-- alert -->
            <br/>
            <input type="submit" name="insert" class="btn btn-primary btn-block" ng-click="insert()" value="บันทึก">
          </form>
        </div>
      </div>
    </div>
   </div>
 </div>