 <!-- Page Heading -->
 <h1 class="h3 mb-2 text-gray-800">&nbsp;ข้อมูลระดับ&nbsp;<a href="#/leveladd" class="btn btn-success btn-circle btn-sm">
  <i class="fas fa-plus"></i></a></h1>
 <p class="mb-4"></p>

 <!-- DataTales Example -->
 <div class="card shadow mb-4">
   <div class="card-header py-3">
     <h6 class="m-0 font-weight-bold text-primary"></h6>
   </div>
   <div class="card-body" ng-init='loadData();'>
     <div class="table-responsive">

      <!--<div class="alert alert-{{dataalart.ResponseType}}" alert-dismissible ng-show="dataalart.ResponseAlert" id="alertdiv">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong> {{dataalart.ResponseMessage}} </strong>
        </div>-->

       <table class="table table-bordered" id ="" width="100%" cellspacing="0" >
         <thead>
           <tr>
            <th >No.</th>
					  <th>deviceID</th>
					  <th>มิลลิแอมป์(mAh) MAX</th>
            <th>มิลลิแอมป์(mAh) MIN</th>
            <th>ค่า zero</th>
            <th></th>
           </tr>
         </thead>
         <tbody>
              <tr ng-repeat="item in datalevel">
              <td >{{$index+1}}</td>
              <td >{{item.deviceID}}</td>
              <td >{{item.levelUp}}</td>
              <td >{{item.levelDown}}</td>
              <td >{{item.zeroG}}</td>
              <td >
                <a href="#/leveledit" ng-click="update_data(item)" class="btn btn-primary btn-circle btn-sm"><i class="fas fa-edit"></i></a>
                <a href="#/leveldelete" ng-click="delete_data(item)" class="btn btn-danger btn-circle btn-sm"><i class="fas fa-trash"></i></a>
              </td>
         </tbody>
       </table>
     </div>
   </div>
 </div>