 <!-- Page Heading -->
 <h1 class="h3 mb-2 text-gray-800">&nbsp;ข้อมูลผู้ใช้งาน&nbsp;<a href="#/useradd" class="btn btn-success btn-circle btn-sm">
  <i class="fas fa-plus"></i></a></h1>
 <p class="mb-4"></p>

 <!-- DataTales Example -->
 <div class="card shadow mb-4">
   <div class="card-header py-3">
     <h6 class="m-0 font-weight-bold text-primary"></h6>
   </div>
   <div class="card-body" ng-init='loadData();'>
     <div class="table-responsive">
       <table class="table table-bordered" width="100%" cellspacing="0" >
         <thead>
           <tr>
            <th>ลำดับ</th>
					  <th>อีเมลล์</th>
					  <th>ชื่อ</th>
            <th>นามสกุล</th>
            <th>สถานะ</th>
            <th></th>
           </tr>
         </thead>
         <tbody>
              <tr ng-repeat="item in datauser">
              <td >{{$index+1}}</td>
              <td >{{item.uEmail}}</td>
              <td >{{item.uSurname}}</td>
              <td >{{item.uLastname}}</td>
              <td>
                <div ng-if="item.uStatus === true">
                  <p class="text-success">เปิดใช้งาน</p>
                </div>
                <div ng-if="item.uStatus === false">
                  <p class="text-danger">ระงับการใช้งาน</p>
                </div>
              </td>
              <td >
                <a data-toggle="modal" class="btn btn-success btn-circle btn-sm" data-target="#editFormcusPass" ng-click="update_data(item)"><i class="fas fa-atlas"></i></a>
                <a href="#/useredit" ng-click="update_data(item)" class="btn btn-primary btn-circle btn-sm"><i class="fas fa-edit"></i></a>
                <a ng-click="delete_data(item)" class="btn btn-danger btn-circle btn-sm"><i class="fas fa-trash"></i></a>
                
              </td>
         </tbody>
       </table>
     </div>
   </div>
 </div>



 <div id="editFormcusPass" class="modal fade" role="dialog" aria-labelledby="e-title">
	<div class="modal-dialog" role="document">
    	<div class="modal-content">
		
		<fieldset ng-disabled="show">
    	<form name="editFormcusPass">

      		<div class="modal-header bg-fade">
            <h4 class="modal-title" id="e-title">แก้ไขข้อมูลรหัสผ่าน</h4>
        		<button type="button" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        		
      		</div>
      		<div class="modal-body">
				
          		
					

					<div class="form-group">
						<label for="inp-detail">รหัสผ่าน * </label>
					
							<input type="password" class="form-control" id="password" name="password"  ng-model="password" placeholder="Password">
					
					</div>


					
      		</div>
			<div class="modal-footer">
				
				<!-- alert -->
				<div class="pull-left" ng-class="{'text-success':!success}" ng-show="show">
					<img src="vendor/img/loader.gif" />
					<small >{{ message }}</small>
				</div>

			
				<button type="submit" class="btn btn-primary" ng-click="update_pw(dataud)" >แก้ไขและบันทึก</button>
			</div>

		</form>
		</fieldset>

    	</div>
  	</div>
</div>