 <!-- Page Heading -->
 <!-- Page Heading -->
 <h1 class="h3 mb-2 text-gray-800">ตารางข้อมูล Live</h1>
 <p class="mb-4"></a></p>

 <!-- DataTales Example -->
 <div class="card shadow mb-4">
   <div class="card-header py-3">
     <h6 class="m-0 font-weight-bold text-primary">วันที่ {{ datetitle | date: 'dd-M-yyyy'}}</h6>
   </div>
   <div class="card-body">
     <div class="table-responsive">
       
       <table class="table table-bordered" width="100%" cellspacing="0">
         <thead>
           <tr>
            <th>รหัสสถานี</th>
            <th>ชื่อสถานี</th>
             <th>อุปกรณ์ตรวจวัด</th>
             <th>เวลา</th>
             <th>ระดับน้ำ</th>
           </tr>
         </thead>
         <tbody>
           <tr ng-repeat="(key,item) in datatable">
            <td>{{item.stationID}}</td>
            <td>{{item.stationName}}</td>
             <td>{{item.deviceID}}</td>
             <td>{{item.dataDatetime | date: 'dd-MM-yyyy HH:mm'}}</td>
             <td>{{item.dataValue}}</td>
           </tr>
         </tbody>
       </table>
       <div class="d-flex justify-content-center" ng-show="show"> 
        <div class="spinner-border text-primary" role="status"> 
            <span class="sr-only" id="loading"></span> 
        </div> 
      </div>
     </div>
   </div>
 </div>