<style>
  .alarm{background-color:#dddcdc;}
  .non{background-color:none;}
</style>
 <!-- Page Heading -->
 <h1 class="h3 mb-2 text-gray-800">ตารางข้อมูล Live</h1>
 <p class="mb-4"></a></p>

 <!-- DataTales Example -->
 <div class="card shadow mb-4">
   <!--<div class="card-header py-3">
     <h6 class="m-0 font-weight-bold text-primary">ข้อมูลวันที่ {{ datetitle | date: 'dd-M-yyyy'}}</h6>
   </div>-->
   <div class="card-body">
     <div class="table-responsive">
       
       <table class="table table-bordered" width="100%" cellspacing="0">
         <thead ng-style="set_theadstyle('true')">
           <tr align="center">
            <th class="text-center">รหัสสถานี</th>
            <th class="text-center">ชื่อสถานี</th>
             <!--<th class="text-center">อุปกรณ์ตรวจวัด</th>-->
             <th class="text-center">วัน-เวลา</th>
             <th class="text-center">ระดับน้ำ<br><p class="text-xs">ม.(รทก.)</p></th>
           </tr>
         </thead>
         <tbody ng-repeat="(key,item) in datatable">
            <tr ng-style="set_bgstyle(item.alarmtime)">
                <td align="center">{{item.stationID}}</td>
                <td align="center">{{item.stationName}}</td>
                <!--<td align="center">{{item.deviceID}}</td>-->
                <td align="center">{{item.dataDatetime | date: 'dd-MM-yyyy HH:mm'}}</td>
                <td class="text-right">
                    <IMG ng-show="item.dataup" SRC="vendor/img/ic_up.png" WIDTH="16" HEIGHT="16" ALT="^">
                    <IMG ng-show="item.datadown" SRC="vendor/img/ic_down.png" WIDTH="16" HEIGHT="16" ALT="v">
                    <span ng-style="set_style(item.alarmlevel,item.alarmtime)">{{item.dataValue | number:3}}</span>
                </td>
           </tr>
         </tbody>
       </table>
       <div class="d-flex justify-content-center" ng-show="showspinner"> 
        <div class="spinner-border text-primary" role="status"> 
            <span class="sr-only" id="loading"></span> 
        </div> 
      </div>
     </div>
   </div>
 </div>

 <div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold">การอ่านค่าในตาราง</h6>
  </div>
  <div class="card-body">
    <div class="container text-center text-md-left">
      <div class="row">
        <div class="col-md-2 mx-auto">
          <ul class="list-unstyled">
            <li>
              <SPAN style="color: #d0d3d4;">ตัวหนังสือสีเทา</SPAN><BR>
              <p class="text-xs">(ขาดการเชื่อมต่อ)</p>
            </li>
          </ul>
        </div>
        <div class="col-md-2 mx-auto">
          <ul class="list-unstyled">
            <li>
              <IMG SRC="vendor/img/ic_up.png" WIDTH="16" HEIGHT="16" ALT="^">
                <SPAN>เพิ่มขึ้น</SPAN><BR>
                <p class="text-xs">(ปัจจุบัน > ครั้งล่าสุด)</p>
            </li>
          </ul>
          <ul class="list-unstyled">
            <li>
              <IMG SRC="vendor/img/ic_down.png" WIDTH="16" HEIGHT="16" ALT="v">
                <SPAN>ลดลง</SPAN><BR>
                <p class="text-xs">(ปัจจุบัน < ครั้งล่าสุด)</p>
            </li>
          </ul>
        </div>
        <div class="col-md-2 mx-auto">
          <ul class="list-unstyled">
            <li>
              <SPAN style="text-align: center;color: #FF0000;">ตัวเลขสีแดง</SPAN><BR>
                <p class="text-xs">(เตือนภัยน้ำท่วม)</p>
            </li>
          </ul>
          <ul class="list-unstyled">
            <li>
              <SPAN style="text-align: center;color:  #ff9900;">ตัวเลขสีส้ม</SPAN><BR>
                <p class="text-xs">(เฝ้าระวังน้ำท่วม)</p>
            </li>
          </ul>
        </div>
        <div class="col-md-2 mx-auto">
          <ul class="list-unstyled">
            <li>
              <SPAN style="text-align: center;color:  #e6e600;">ตัวเลขสีเหลือง</SPAN><BR>
                <p class="text-xs">(เฝ้าระวังน้ำแล้ง)</p>
            </li>
          </ul>
          <ul class="list-unstyled">
            <li>
              <SPAN style="text-align: center;color:  #996600;">ตัวเลขสีน้ำตาล</SPAN><BR>
                <p class="text-xs">(เตือนภัยน้ำแล้ง)</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
    <!--<LI>
      <SPAN CLASS="f_red">ตัวเลขสีแดง</SPAN>
      <Q>(สูงกว่าเกณฑ์มาตรฐาน)</Q>
    </LI>
    <LI>
      <SPAN CLASS="f_yellow">ตัวเลขสีเหลือง</SPAN>
      <Q>(ต่ำกว่าเกณฑ์มาตรฐาน)</Q>
    </LI>-->
   <!-- <LI>
      <SPAN>ขีด (-)</SPAN>
      <Q>หัววัดชำรุด</Q>
    </LI>
    <LI>
      <SPAN class="b_blue_fade" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</SPAN>
      <Q>ไม่ได้ตรวจวัด</Q>			
    </LI>-->